/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* header */

#header {
    width: 100%;
}

.navbar {
    background-color: #45B4E6;
    height: 80px;
    padding: 0 10px;
}

.header-title {
    color: #ffffff;
    font-size: 24px;
    padding: 10px 0;

}

.item-list {
    display: flex;
    justify-content: flex-start;
}

.item {
    border: solid 1px #ffffff;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}

.create-btn {
    background-color: #ffffff;
    border: solid 1px #EC9001;
    border-radius: 5px;
    cursor: pointer;
    color: #EC9001;
    margin-left: auto;
    padding: 5px;
}

.create-btn:hover {
    color: #ffffff;
    background-color: #EC9001;
    transition: 0.5s;

}

.item:hover {
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

/*JSで制御を検討(.itemとaタグの間でhover時の挙動がずれる)*/
.item a:hover {
    color: #45B4E6;
    transition: 0.5s;
}

.item:last-child {
    margin-right: 0;
}

/* section todo-create */

.todo-create {
    background-color: #ffffff;
    display: none;
    height: 400px;
    padding: 15px;
    box-sizing: border-box; /* 15px in width 50% */
    position: absolute;
    top: 10%;
    width: 50%;
    z-index: 1
}

.cover {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.todo-create-title {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.error-msg {
    color: red;
    font-style: italic;
    margin: 10px 0;
    text-align: center;
}

#title, #content {
    border: solid 1px;
    font-size: 16px;
    width: 100%;
}

#title {
    margin-bottom: 15px;
}

.create-form > .submit {
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 15px;
    background: #000000;
    color: #ffffff;
    width: 100%;
}

.create-form > .submit:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.cancel-btn {
    background: #ffffff;
    border-radius: 5%;
    color: #000000;
    cursor: pointer;
    margin-left: auto;
    padding: 15px;
    width: 100%;
}

/* section todo-list */
.todo-list {
    padding: 10px
}

.todo-list-title {
    margin-bottom: 10px;
    text-align: center;
}

.todo-list-title {
    font-size: 20px
}

.todos {
    margin: 0 100px;
}

.todo {
    border: solid 1px #45B4E6;
    border-radius: 3px;
    display: flex;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;
}

.js-todo-done {
    background-color: #cccccc;
}

.left {
    margin-right: 10px;
}

.right {
    width: 100%;
}

.right > .todo-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.right > .todo-content {
    margin-bottom: 10px;
}

.right > .todo-icons {
    display: flex;
    justify-content: flex-end;
}

.edit, .delete {
    cursor: pointer;
}

.edit {
    margin-right: 10px;
}

/* footer */

#footer {
    text-align: center;
}



